
ul, 
li, 
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
}
h1 {
  text-align: center;
  margin-top: 10px;
}
a {
  text-decoration: none;
  color: white;
}
img {
 max-width: 100%;
 display: block;
}
/*------------------------------------ 
 * MENU HEADER
 --------------------------------------*/
.header {
  background: #292929;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}
 .menu li a {
   display: block;
   padding: 10px;
 }

 /*------------------------------------ 
 * CSS FLEXBOX 
 --------------------------------------*/
.flex {
  display: flex;
  flex-wrap: wrap; /* Quebra */
  max-width: 800px;
  margin: 0 auto;
}
.flex > div {
  flex: 1 1 200px;  /*flex 1 expande 1 possa diminuir e tenha uma base 200px*/
  margin: 10px;
}
/*------------------------------------ 
 * CSS GRID1 LAYOUT 
 --------------------------------------*/
.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /*posso usar repeat(3, 1fr)*/
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
  grid-gap: 20px;
}
.grid1 > div:nth-child(n + 4) { /*que apartir do 5 item do grupo aplicar*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}
.grid1 > div.anuncio {
  grid-column: 1;
  grid-row: 2 / 5;
  display: block;
}

@media (max-width: 600px) {
  .grid1 {
    grid-template-columns: 1fr 1fr;
  }
  .grid1 > div:nth-child(n + 4) {
    display: block;
  }
  .grid1 > div.anuncio {
    grid-column: auto;
    grid-row: auto;
    order: -1;
  }
}
/*------------------------------------ 
 * CSS GRID2 LAYOUT 
 --------------------------------------*/
.grid2 {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-gap: 20px;
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
}
.sidebar > div {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .grid2 {
    grid-template-columns: 1fr;
  }
  .sidebar {
    display: flex;
    overflow: auto;
  }
  .sidebar > div {
    flex: 1 0 200px;
    margin: 0 10px;
  }
}

/*------------------------------------ 
 * CSS GRID3 LAYOUT 
 --------------------------------------*/
 .grid3 {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px;
   margin: 0 auto;
   max-width: 800px;
   padding: 10px;
 }
 .grid3-item:nth-child(1) {
   grid-row: 1 / 3;
 }
 .grid3-item {
   display: grid;
   margin: 0px;
 }
 .grid3-item img {
   margin: 0px;
   grid-column: 1;
   grid-row: 1 / 3;
   align-self: flex-end;
 }
 .grid3-item p {
   background: rgba(0, 0, 0, 0.6);
   padding: 10px;
   color: white;
   grid-column: 1;
   grid-row: 2 / 3 ;
   align-self: flex-end;
 }
/* header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 50px;
  
}
main {
  margin: 0 auto;
  padding: 30px 20px;
  background-color: green;
  height: calc(100vh - 215px);
  overflow: auto;
} */

/*.container {
  background-color: green;
  display: flex;
  flex-direction: column;
  height: 100vh; 
}
 header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 50px;
  width: 90vw;
}
header h1 {
  font-size: 40px;
  margin-bottom: 30px;
}
header p {
  font-size: 22px;
}
main {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
  min-height: calc(100vh - 415px);  
}
article {
  background-color: gray;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
article:last-child {
  margin-bottom: 0;
}
article h3 {
  margin: 10px 0 25px 0;
}
article p {
  margin-top: 16px;
  line-height: 24px;
} */
/* footer {
  text-align: center;
  background-color: #292929;
  color: #fff;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100vw;
}  */

